package business.JDBC;

public class env {
    String nomeUsuario = "user"; //Usuário do servidor padrão
    String senhaUsuario = "password"; // Senha do servidor
    String enderecoServidor = "serverIp";
    int port = 5433;
    String nomeBanco = "database";
}